.git
.vscode
.idea
bin
bin-debug
bin-release
*.exe
*.test
*.out
*.log
.env
.env.*
**/.env
**/.env.*
**/*.log
test
data/doc
data/db/archive/
data/db/dump-*.sql*
data/db/gozero-admin-full-*.sql*
*.tar.gz
